body {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: lightgreen;

    margin: 3px 114px 34px 113px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    ;

}

.left,
.right {
    margin-top: 10px;
    font-weight: bold;
    font-size: large;
}

input {
    font-weight: bold;
    font-size: 15px;
}